.topPage
  .listWrapper
    .list
      .list_header
        h2.list_header_title Todo
      .cardWrapper
        a.cardDetail_link(href="http://localhost:3000/create.html")
          .card
            .one_row
              h3.card_title タスク
              a(href="/")
              i.fas.fa-play-circle
            .two_row
              h3.card_time 期限
              a(href="/")
              i.fas.fa-trash
      .cardWrapper
        a.cardDetail_link(href="http://localhost:3000/create.html")
          .card
            .one_row
              h3.card_title タスク
              a(href="/")
              i.fas.fa-play-circle
            .two_row
              h3.card_time 期限
              a(href="/")
              i.fas.fa-trash
      .cardWrapper
        a.cardDetail_link(href="http://localhost:3000/create.html")
          .card
            .one_row
              h3.card_title タスク
              a(href="/")
              i.fas.fa-play-circle
            .two_row
              h3.card_time 期限
              a(href="/")
              i.fas.fa-trash
    .list
      .list_header
        h2.list_header_title Timeout
      .cardWrapper
        a.cardDetail_link(href="http://localhost:3000/create.html")
          .card
            .one_row
              h3.card_title タスク
              a(href="/")
              i.fas.fa-play-circle
            .two_row
              h3.card_time 期限
              a(href="/")
              i.fas.fa-trash
    .list
      .list_header
        h2.list_header_title Done
      .cardWrapper
        a.cardDetail_link(href="http://localhost:3000/create.html")
          .card
            .one_row
              h3.card_title タスク
              a(href="/")
              i.fas.fa-play-circle
            .two_row
              h3.card_time 期限
              a(href="/")
              i.fas.fa-trash
