// mixinの設定
$breakpoints: (
  'sm': 'screen and (max-width: 576px)',
);

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 頻繁に利用するcolorを変数に代入
$main_color: #007fff;


* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  font-family:Arial, "メイリオ", Meiryo, sans-serif;
  width: 1100px;
  @include mq() {
    width: 315px;
  }
}

.mark {
  position: relative;
  margin: 0;
  letter-spacing: 3px;
  color: #979797;
  left: -620px;
  top: -465px;
  transform: rotate(270deg);
  @include mq() {
    left: 0px;
    top: -40px;
    transform: none;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
  }
}

.mark-links {
  top: -480px;
  @include mq() {
    top: -40px;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  list-style: none;
  width: 114px;
  .social-item img {
    @include mq() {
      width: 20px;
      height: 20px;
    }
  }
}

.while {
  color: $main_color;
}

.spanpc {
  @include mq() {
    display: none;
  }
}

.spansp {
  display: none;
  @include mq(sm) {
    display: inline;
    color: $main_color;
  }
}

// PC時の改行
.brpc {
  @include mq() {
    display: none;
  }
}

// スマホ時の改行
.brsp {
  display: none;
  @include mq() {
    display: block;
  }
}

.header {
  padding-top: 118px;
  @include mq() {
    padding-top: 60px;
    position: relative;
  }
  .header-img {
    margin: 0 auto;
    position: relative;
    top: 50px;
    width: 52px;
    @include mq() {
      top: 0;
    }
    img {
      width: 52px;
    }
  }
  .link-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    list-style: none;
    @include mq() {
      display: none;
      display: inline;
      position: absolute;
      width: 80%;
      height: 100vh;
      background: rgba(88,87,86,1);
      top: 100px;
      z-index: 1;
      animation-duration: 0.5s;
      animation-name: fade-out;
      animation-fill-mode:forwards;
    }
    .link-item {
      font-size: 12px;
      letter-spacing: 3px;
      font-weight: 600;
      @include mq() {
        display: block;
        position: static;
        border-bottom: 1px solid #9F99A3;
        font-size: 22px;
        padding: 15px;
        margin: 0;
      }
      &:nth-child(2) {
        position: relative;
        right: 200px;
        @include mq() {
          position: static;
        }
      }
      &:nth-child(3) {
        position: relative;
        left: 210px;
        @include mq() {
          position: static;
        }
      }
      a {
        text-decoration: none;
        color: $main_color;
        @include mq() {
          color: white;
          &:hover{
            color: $main_color;
          }
        }
      }
    }
  }
  [data-opened="1"] {
    display: inline;
    animation-duration: 0.5s;
    animation-name: fade-in;
  }
  .toggle-btn {
    display: none;
    @include mq() {
      display: block;
      position: absolute;
      bottom: 22px;
      z-index: 10;
      width: 20px;
    }
  }
}

// ハンバーガーメニューのアニメーション
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    width: 0%;
  }

  1% {
    display: block;
    opacity: 0;
    width: 40%;
  }

  100% {
    display: block;
    opacity: 1;
    width: 80%;
  }
}

@keyframes fade-out {
  0% {
    display: block;
    opacity: 1;
    width: 80%;
  }

  2% {
    display: block;
    opacity: 1;
    width: 30%;
  }

  100% {
    display: none;
    opacity: 0;
    width: 0%;
  }
}

.top {
  text-align: center;
  padding-top: 120px;
  @include mq() {
    padding-top: 60px;
  }
  h1 {
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 48px;
    @include mq() {
      margin-bottom: 30px;
      font-size: 28px;
    }
  }
}

.works {
  padding-top: 120px;
  @include mq() {
    padding-top: 108px;
  }
  .post-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    @include mq() {
      display: block;
    }
    .post {
      position: relative;
      padding-bottom: 60px;
      @include mq() {
        padding-bottom: 30px;
      }
      img {
        width: 520px;
        @include mq() {
          width: 315px;
        }
      }
      .post-txt,
      .featured-txt {
        position: absolute;
        color: white;
        left: 60px;
        font-size: 28px;
        @include mq() {
          left: 30px;
          font-size: 16px;
        }
        h3 {
          font-weight: 400;
          line-height: 36px;
          @include mq() {
            line-height: 26px;
          }
        }
      }
      .featured-txt {
        top: 330px;
        @include mq() {
          top: 200px;
        }
        p {
          background: #ffe300;
          color: #000000;
          text-align: center;
          width: 80px;
          height: 23px;
          line-height: 23px;
          border-radius: 15px;
          margin-bottom: 20px;
          font-size: 12px;
          font-weight: 600;
          @include mq() {
            margin-bottom: 10px;
          }
        }
      }
      .post-txt {
        top: 382px;
        @include mq() {
          top: 230px;
        }
      }
    }
  }
}

.about {
  @include mq() {
    padding-top: 74px;
  }
  .about-article {
    display: flex;
    padding-bottom: 60px;
    @include mq() {
      display: block;
      padding-bottom: 0px;
    }
    .article-item {
      width: 467px;
      @include mq() {
        width: 295px;
        padding-bottom: 30px;
      }
      &:nth-child(even) {
        padding-left: 113px;
        @include mq() {
          padding-left: 0px;
        }
      }
      h2 {
        font-size: 28px;
        padding-bottom: 30px;
        @include mq() {
          font-size: 18px;
          padding-bottom: 16px;
          font-weight: 400;
        }
      }
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        @include mq() {
          font-weight: 400;
        }
      }
    }
  }
}

.conect {
  padding-top: 15px;
  @include mq() {
    padding-top: 0px;
    max-width: 315px;
  }
  .conect-wrapper {
    list-style: none;
    @include mq() {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
    .conect-item {
      display: inline-block;
      padding-right: 140px;
      @include mq() {
        padding-right: 0px;
        img {
          width: 60%;
        }
      }
    }
  }
}

.links {
  padding-top: 120px;
  @include mq() {
    padding-top: 126px;
  }
  .line-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    .line {
      width: 520px;
      padding-bottom: 30px;
      @include mq() {
        width: 294px;
        padding-bottom: 10px;
        line-height: 30px;
      }
      a {
        text-decoration: none;
        color: $main_color;
      }
      span{
        float: right;
        color: #979797;
        @include mq() {
          float: none;
        }
      }
    }
  }
}

.contacts {
  padding-top: 120px;
  @include mq() {
    padding-top: 70px;
    h2{
      font-size: 18px;
      font-weight: 400;
    }
  }
  .contact-parts {
    padding-top: 60px;
    display: flex;
    @include mq() {
      padding-top: 10px;
      display: block;
    }
    .contact-info {
      width: 230px;
      @include mq() {
        width: 295px;
      }
      p{
        line-height: 30px;
      }
      .socials {
        padding-top: 30px;
        @include mq() {
          padding-top: 20px;
        }
      }
    }
  }
  .contact-form {
    padding-left: 45px;
    @include mq() {
      padding-left: 0px;
      padding-top: 60px;
    }
    .form-group label {
      display: block;
      letter-spacing: 3px;
      font-size: 12px;
      font-weight: 600;
    }
    .form-control {
      border: 1.5px solid #cfcfcf;
      border-right: none;
      border-left: none;
      border-top: none;
      resize: none;
      margin-bottom: 30px;
      width: 743px;
      padding: 30px 0 10px;
      @include mq() {
        width: 315px;
        padding-top: 15px 0 10px;
      }
      &::placeholder {
        color: #cfcfcf;
        font-size: 17px;
      }
    }
  }
  .form-btn {
    width: 52px;
    padding-left: 30px;
    @include mq() {
      float: right;
    }
  }
}

.footer {
  padding: 90px 0 10px;
  @include mq() {
    padding: 112px 0 5px;
  }
  .copyright {
    float: left;
    @include mq() {
      float: none;
      font-size: 12px;
      font-weight: 600;
      padding-bottom: 15px;
    }
  }
  .footer-info {
    float: right;
    padding-left: 192px;
    color: #979797;
    @include mq() {
      float: none;
      padding-left: 0;
      padding-bottom: 15px;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
